<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Trang Web của Tôi</title>
</head>

<body>
    <!-- Các phần tử HTML khác ở đây -->
    <input type="text" placeholder="Nhập thông tin">
    <style>
        input {
            width: 200px;
            height: 30px;
            padding: 5px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 5px;
            background: url('img/a1.jpg') no-repeat center center;
            background-size: cover;
            /* Đảm bảo hình ảnh bao phủ toàn bộ phần tử */
        }
    </style>
</body>

</html>